body {
    background-color: #0095CD;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
    color: #FFFFFF;
}
timerTab {
    background-color: #FFFFFF;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
    color: #0095CD;
}
